.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: center;
  color: white;
}

.header h1 {
  font-family: "Bungee Shade";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header h2 {
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
